<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {% block title %}Fandom Hub{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav>

    <a href="/static">
        Home
    </a>


    {% if current_user.is_authenticated %}

        <a href="/profile">
            View Profile
        </a>


        <a href="/logout">
            Logout
        </a>


    {% else %}

        <a href="/login">
            Login
        </a>


        <a href="/register">
            Register
        </a>

    {% endif %}


</nav>


<hr>


{% block content %}

{% endblock %}

<!-- FOOTER -->

<footer class="site-footer">

    <a href="https://www.tbceducation.ge/" target="_blank">

        <img
        src="{{ url_for('static', filename='images/tbc-logo (1).png') }}"
        alt="TBC Logo">

    </a>

</footer>
</body>

</html>