<!DOCTYPE html>
<html lang="en">


<head>

    <title>Edit Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav>

    <a href="/static">Home</a>

    <a href="/profile">Profile</a>

    <a href="/logout">Logout</a>

</nav>




<div class="edit-profile-card">


    <h1>
        Edit Profile
    </h1>



    <form method="POST">



        <input
        type="text"
        name="username"
        value="{{ user.username }}"
        placeholder="Username"
        required>



        <input
        type="text"
        name="image"
        value="{{ user.profile_image }}"
        placeholder="Profile Picture URL"
        required>



        <textarea
        name="bio"
        placeholder="Write something about yourself">{{ user.bio }}</textarea>



        <button type="submit">

            Save Changes

        </button>



    </form>


</div>



</body>

</html>