{% extends "base.html" %}


{% block content %}


<div class="auth-container">


    <div class="auth-card">


        <h1>
            Create Account
        </h1>


        <p>
            Join Fandom Hub community
        </p>




        <form method="POST">


            {{ form.hidden_tag() }}



            {{ form.username(
                placeholder="Username"
            ) }}


            {% for error in form.username.errors %}
                <small class="error">
                    {{ error }}
                </small>
            {% endfor %}





            {{ form.email(
                placeholder="Email"
            ) }}


            {% for error in form.email.errors %}
                <small class="error">
                    {{ error }}
                </small>
            {% endfor %}





            {{ form.password(
                placeholder="Password"
            ) }}


            {% for error in form.password.errors %}
                <small class="error">
                    {{ error }}
                </small>
            {% endfor %}





            {{ form.submit(
                class="auth-button"
            ) }}



        </form>





        <a href="/login">
            Already have an account? Login
        </a>



    </div>


</div>



{% endblock %}